@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tenor Sans", sans-serif;
}
span,
p {
  font-family: "Libre Franklin", sans-serif;
}
.AB-dekstop {
  width: 100%;
  height: 1700px;
  background: #ffffff;
}
.AB-nav-cont {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid grey;

  /* display: flex; */
}
.AB-navbar {
  height: 90px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.AB-nav-left {
  /* background: #000000; */
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.AB-nav-right {
  height: 90px;
  width: 205px;
}
.AB-ul {
  height: 90px;
  width: 205px;
  gap: 40px;
  list-style: none;
  display: flex;
  align-items: center;
}
.AB-ul li {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.AB-japan-house-cont {
  height: 472.5px;
  width: 1200px;
  display: flex;
  margin: auto;
  margin-top: 60px;
}
.AB-img-japan-cont {
  height: 474px;
  width: 721px;
}
.AB-txt-japan {
  height: 342px;
  width: 450px;
  padding-left: 40px;
}
.AB_span-txt {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}
.AB-big-txt {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
}
.AB-lorem1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.AB-by-txt {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
.AB-mg-top-18 {
  margin-top: 18px;
}
.AB-mg-bottom-18 {
  padding-bottom: 18px;
}
.AB-mg-bottom-15 {
  padding-bottom: 15px;
}
.AB-mg-bottom-28 {
  margin-bottom: 28px;
}
.AB-menu-big-cont {
  height: 963px;
  width: 1220px;
  margin: auto;
  margin-top: 40px;
}
.AB-first-row {
  width: 1220px;
  height: 482px;
  display: flex;
}
.AB-card-cont {
  height: 481.734375px;
  width: 406.65625px;
}
.AB-card-img-cont {
  height: 254px;
  width: 387px;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 20px;
}
.AB-card-txt-cont {
  height: 134px;
  width: 386.65625px;
  margin: auto;
}
.AB-small-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.AB-second-row {
  width: 1220px;
  height: 482px;
  display: flex;
}
/* MF */
.FM {
  width: 100%;
  height: 130vh;
}
.FM-1 {
  width: 1200px;
  margin: auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 70px;
}
.FM-1-3 {
  display: flex;
  justify-content: space-between;
}
.ceri {
  color: #999999;
  font-size: 12px;
  line-height: 14px;
}
.FM-IMG1 {
  margin-top: 30px;
}
.FM-IMG1 img {
  width: 285px;
  height: 187px;
}
.top15 {
  margin-top: 15px;
}
.uoper {
  margin-top: 15px;
  text-transform: uppercase;
  width: 270px;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}
.gavs {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-top: 15px;
}
.FM-CNOPCA {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FM-CNOPCA button {
  width: 205px;
  height: 54px;
  background: #00000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  margin-bottom: 100px;
 }

