
.md-box {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}
.md-img {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}
.md-text {
    display: flex;
    gap: 1%;
}
.md-p {
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */

letter-spacing: 1px;
text-transform: uppercase;
color: #999999;

}
.md-mr {
    margin-bottom: 2.5%;
}
.md-txt {
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 24px;
/* identical to box height, or 126% */

text-transform: uppercase;

color: #000000;

}
.md-by {
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */

letter-spacing: 1px;
text-transform: uppercase;

color: #000000;
}
.md-img1 {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-top: 2.5%;
}