
.md-box {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}
.md-img {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}
.md-text {
    display: flex;
    gap: 1%;
}
.md-p {
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */

letter-spacing: 1px;
text-transform: uppercase;
color: #999999;

}
.md-mr {
    margin-bottom: 2.5%;
}
.md-txt {
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 24px;
/* identical to box height, or 126% */

text-transform: uppercase;

color: #000000;

}
.md-by {
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */

letter-spacing: 1px;
text-transform: uppercase;

color: #000000;
}
.AB-mg-top-18 {
  margin-top: 18px;
}
.AB-mg-bottom-18 {
  padding-bottom: 18px;
}
.AB-mg-bottom-15 {
  padding-bottom: 15px;
}
.AB-mg-bottom-28 {
  margin-bottom: 28px;
}
.AB-menu-big-cont {
  height: 963px;
  width: 1220px;
  margin: auto;
  margin-top: 40px;
}
.AB-first-row {
  width: 1220px;
  height: 482px;
  display: flex;
}
.AB-card-cont {
  height: 481.734375px;
  width: 406.65625px;
}
.AB-card-img-cont {
  height: 254px;
  width: 387px;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 20px;
}
.AB-card-txt-cont {
  height: 134px;
  width: 386.65625px;
  margin: auto;
}
.AB-small-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.AB-second-row {
  width: 1220px;
  height: 482px;
  display: flex;
}
/* MF */
.FM {
  width: 100%;
  height: 130vh;
}
.FM-1 {
  width: 1200px;
  margin: auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 70px;
}
.FM-1-3 {
  display: flex;
  justify-content: space-between;
}
.ceri {
  color: #999999;
  font-size: 12px;
  line-height: 14px;
}
.FM-IMG1 {
  margin-top: 30px;
}
.FM-IMG1 img {
  width: 285px;
  height: 187px;
}
.top15 {
  margin-top: 15px;
}
.uoper {
  margin-top: 15px;
  text-transform: uppercase;
  width: 270px;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}
.gavs {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-top: 15px;
}
.FM-CNOPCA {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FM-CNOPCA button {
  width: 205px;
  height: 54px;
  background: #00000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  margin-bottom: 100px;
 }

